/* ===================== RESET GLOBAL ===================== */

* {
    /* Paramètres généraux */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Paramètres du body */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    position: relative;
}


/* ===================== HEADER ===================== */

header {
    /* Définition du header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 1em;
    background: #dddddd;
    backdrop-filter: blur(10px);
}

header img {
    /* Paramètres image du geader */
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.title-container {
    /* Paramètre du texte header */
    display: flex;
    align-items: center;
    gap: 15px;
}

.title-container img {
    /* Paramètre du logo du header */
    width: 100px;
    height: auto;
}

.title-container img:hover {
    /* Paramètre de la décoration nulle du logo du header */
    transform: scale(1);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}

.title-text {
    /* Sous-paramètres du texte header */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    /* Décoration texte h1 */
    font-size: 1.8em;
    color: #292929;
    margin: 0;
}

header h2 {
    /* Décoration texte h2 */
    font-size: 1.2em;
    color: #4b4b4b;
    margin: 5px 0 0;
}


/* ===================== NAVIGATION ===================== */

nav {
    /* Paramètre décoiratifs de la barre de navigation */
    background: #7c7c7c79;
    padding: 0;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    /* Paramètres bouton navigation */
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li a {
    /* Paramètres décoratifs boutons navigation */
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    display: block;
    font-weight: 500;
    transition: 0.5s ease;
}

.nav2 {
    /* Décoration brre navigation */
    background-color: #202020;
    color: #bfa330;
}

nav li a:hover {
    /* Paramètre décoration hover boutons navigation */
    background-color: white;
    color: #202020;
}


/* ------------------- MAIN IMAGE ------------------- */

#main_img img {
    /* Paramètres de l'image principale de chaque page */
    position: fixed;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
    display: block;
}


/* ===================== MAIN ===================== */

main {
    /* Paramètres généraux de la boite main */
    gap: 20px;
    margin-top: 20px;
    z-index: 1;
}


/* ------------------- MAIN IMAGE ------------------- */

#main_img img {
    /* Paramètres de l'image background */
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -100;
}


/* ------------------- MAIN TEXT ------------------- */

#main_info {
    /* Paramètres texte principal */
    flex: 1;
    background-color: #1f1f1f;
    padding: 20px;
    margin-top: 350px;
}

#main_text {
    /* Paramètres texte boite main */
    flex: 1;
    font-family: Garamond, serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #dfdfdf;
    background-color: #1f1f1f;
    padding: 40px;
    min-width: auto;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}

#main_text h1 {
    /* Paramètres h1 boite main */
    font-family: "TrebuchetMS", Verdana, "LucidaGrande", Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
}

#main_text h2 {
    /* Paramètres h2 boite main */
    padding-right: 3rem;
    padding-left: 1rem;
}

#main_text h3 {
    /* Paramètres h3 boite main */
    padding-right: 3rem;
    padding-left: 3rem;
}


/* ------------------- SOUS-TITRES / BULLES ------------------- */

.main_h1 {
    /* Décoration h1 gauche solide */
    border-left: 4px solid rgba(255, 255, 255, 0.733);
    padding-left: 5px;
}

.main_h3 {
    /* Décoration h3 gauche pointillé */
    border-left: 4px dotted rgba(211, 211, 211, 0.411);
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #bfa330;
}


/* ===================== GRID 4 CARDS ===================== */

.grid-4 {
    /* Paramètres généraux des cartes */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 40px 0;
    border: 2px solid #00c6ff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    background: white;
    padding: 20px;
}

.card {
    /* Paramètres décoratifs des cartes */
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #eee;
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:hover {
    /* Paramètres décoration hover des cartes */
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    border-color: #0072ff;
}

.card h2 {
    /* Paramètres décoratifs des cartes h2 */
    color: #0072ff;
    margin-bottom: 15px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.card h2 i {
    /* Paramètres décoratifs des cartes h2 */
    color: #00c6ff;
}

.card ul {
    /* Paramètres décoratifs des cartes ul */
    list-style: none;
    padding: 0;
    flex: 1;
}

.card li {
    /* Paramètres décoratifs des cartes li */
    padding: 6px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95em;
}

.card li::before {
    /* Paramètres décoratifs des cartes li boutons précédents*/
    content: "•";
    color: #00c6ff;
    font-weight: bold;
}


/* ===================== TEXTE SECONDAIRE ===================== */

#main_text2 {
    /* Paramètres du texte de la conclusion */
    flex: 1;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: 25px;
    border-radius: 15px;
    border-left: 4px solid rgba(255, 74, 74, 0.733);
    min-width: auto;
    margin-top: 40px;
    color: #dfdfdf;
    margin-bottom: 15px;
}

#main_text2 h3 {
    /* Paramètres décoration bordure du texte de la conclusion */
    border-left: 4px dotted rgba(255, 74, 74, 0.411);
    color: #b1b1b1;
    font-weight: 700;
    font-size: 1.5em;
    font-style: italic;
}


/* ===================== LIENS ===================== */

.lien {
    /* Paramètres décoratifs du lien */
    text-decoration: none;
    color: #2d5d69;
    border-radius: 15px;
}

.lien:hover {
    /* Paramètres déécoration hover du lien */
    color: #fa9a4b;
}


/* ===================== CONTACT ===================== */

#contact {
    background-color: #1a1a1a;
    color: #f5f5f5;
    padding: 40px;
    border-radius: 15px;
    max-width: 100%;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
}

#contact h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #bfa330;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    background-color: #2c2c2c;
    color: #f5f5f5;
}

form button {
    background-color: #bfa330;
    color: #202020;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: auto;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #f5f5f5;
    color: #bfa330;
    transform: translateY(-5px);
    color: #202020;
}


/* ===================== FOOTER ===================== */

footer {
    /* pied de page */
    clear: both;
    background: #7c7c7c79;
    color: white;
    padding: 15px;
    text-align: center;
    bottom: 0;
    backdrop-filter: blur(10px);
}

footer p {
    /* texte footer */
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}
